.no-feed {
  width: 30%;
  height: 175px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.30);
}

.no-feed-title {
  margin-left: 5%;
  padding-right: 2%;
  text-align: left;
  font-weight: 200;
}

.no-feed-desc {
  font-weight: 200;
  text-align: left;
  margin-left: 5%;
  padding-right: 2%;
}