.post-container {
  width: 40%;
  height: 250px;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.30);
  /* margin-bottom: 10%; */
}

.post-text {
  padding: 2%;
  text-align: left;
  padding-left: 4%;
  overflow: scroll;
  margin-bottom: 2%;
}

.post-title {
  color: #333333;
}

.post-desc {
  color: #333333;
  line-height: 1.5;
}

.interact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  height: 60px;
  width: 100%;
  /* padding-left: 2%;
  padding-right: 5%; */
  /* border: 1px solid black; */
}

.like-container {
  width: 8%;
  height: 100%;
  background-image: url('../../Assets/tree-silhouette.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  margin-left: 2%;
}

.like-container:hover {
  background-image: url('../../Assets/tree-silhouette-red.svg');
}

.static-icon {
  background-image: url('../../Assets/tree-silhouette-red.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 8%;
  height: 100%;
  background-size: 90%;
  margin-left: 2%;
}

.reply-button {
  width: 10%;
  height: 100%;
  background-image: url('../../Assets/reply.png');
  background-repeat: no-repeat; 
  background-position: center;
  margin-right: 2%;
}